@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Thin.woff2') format('woff2'),
        url('./fonts/RobotoMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-ThinItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-ExtraLightItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-ExtraLight.woff2') format('woff2'),
        url('./fonts/RobotoMono-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Light.woff2') format('woff2'),
        url('./fonts/RobotoMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-LightItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Italic.woff2') format('woff2'),
        url('./fonts/RobotoMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('./fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Medium.woff2') format('woff2'),
        url('./fonts/RobotoMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-MediumItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-SemiBold.woff2') format('woff2'),
        url('./fonts/RobotoMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('./fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
        url('./fonts/RobotoMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    gap:4rem;

    font-family:'Roboto Mono';
}

#site-header{
    max-height: 56px;
    width:0;
    min-width:100%;

}

#site-nav{
    display:flex;
    justify-content: space-evenly;

    position:relative;

    font-weight:100;
}

#site-title{
    
    font-size:2rem;
    text-align:center;

    padding:25px;
}

#content{
    display:grid;
    grid-template-columns: 1fr 5fr;
    gap:50px;

    padding:10px;
}

#sidebar{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-between;
    gap:16px;
}

#dashboard{
    display:grid;
    gap:10px;
}

#about-me-text{
    display:grid;
    grid-template-rows: repeat(autofit, 1fr);
    gap:10px;
    padding-right:100px;

    font-size: 12px;
}

#socials-container{
    display:flex;
    gap:10px;
}

.carousel{
    max-width: 100%;

    padding-bottom: 30px;
}

.carousel-wrapper {
    width:0;
    min-width:100%;

    display:flex;
    overflow:scroll;
}

.carousel-title{
    font-weight: 100;
    font-style: italic;
    font-size:20px;
    padding-left: 10px;
    padding-top:20px;
}

.carousel-item{
    display:flex;
    flex-direction:column;
}

figure{
    margin-inline-end: 20px;
    margin-inline-start: 20px;
}

img{
    max-height:400px;
}

.item-name{
    text-align: center;
    font-weight:100;
}

.item-info{
    display:none;

    position:absolute;

    max-width: 30vw;

    background:#80808050;

    font-size:12px;
}

.project-title, .project-click{
    font-weight:normal;
    font-size:25px;
}

.project-subtitle{
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
}

.project-click{
    min-height:64.75px;
}

.project-intro, .section-paragraph, .list-item{
    font-size:12px;    
}

#project-info{
    display: grid;
    grid-template-columns:50% 50%;

    gap:20px;

    padding-top:30px;
    padding-right:40px;
}

.section-title{
    display:flex;
    align-items: center;
}

.section-title.Background{
    grid-column:1/2;
    grid-row:1/2;
}

.section-paragraph.Background{
    grid-column:1/2;
    grid-row:2/3;
}

.Problem{
    grid-column:2/3;
    grid-row:1/2;
}

.section-paragraph.Problem{
    grid-column:2/3;
    grid-row:2/3;
}

.Research, .Personas, .Ideation{
    grid-column: 1/3
}

ul {
    grid-column:1/3
}